<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pl.dariuszbacinski.meteo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- targetSdkVersion only for Robolectric tests-->
    <uses-sdk
        android:targetSdkVersion="21"/>

    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".diagram.view.DiagramActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".location.view.LocationActivity"/>
        <activity
            android:name=".info.InfoActivity"/>
        <meta-data
            android:name="AA_DB_NAME"
            android:value="meteo.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="pl.dariuszbacinski.meteo.location.model.FavoriteLocation, pl.dariuszbacinski.meteo.location.model.Location, pl.dariuszbacinski.meteo.diagram.model.SelectedDiagram"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3532ab59d2182893c031c56cac2353f33af09bf3"/>
    </application>
</manifest>
